recursive-include accounting *
recursive-include api *
recursive-include bands *
recursive-include blog *
recursive-include events *
recursive-include emailing *
recursive-include fields *
recursive-include games *
recursive-include gsuite *
recursive-include images *
recursive-include inspirations *
recursive-include locale *
recursive-include locations *
recursive-include management *
recursive-include orders *
recursive-include photos *
recursive-include profiles *
recursive-include shows *
recursive-include theatre_sports *
recursive-include tickets *
recursive-include voting *
recursive-include workshops *
include requirements.txt
include README.md
include manage.py
global-exclude *.po
global-exclude *.pyc
