[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = {extras = ["with_pyroma", "with_vulture"],version = "*"}
pygraphviz = "*"
pylint-django = "*"
pytest-django = "*"
pytest-cov = "*"

[packages]
django = "*"
django-extensions = "*"
pillow = "*"
graphene-django = "*"
django-filter = "*"

[requires]
python_version = "3.7"
