[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
model-bakery = "*"
prospector = {extras = ["with_pyroma", "with_vulture"],version = "*"}
pygraphviz = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-watch = "*"
ansible = "*"
pytest-freezegun = "*"
black = "==19.10b0"
typing-extensions = "*"

[packages]
django = "<3"
django-extensions = "*"
django-filter = "*"
graphene-django = "*"
pillow = "*"
sentry-sdk = "*"
django-storages = "*"
boto3 = "*"
psycopg2-binary = "*"
django-admin-sso = "*"
django-cors-headers = "*"
qrcode = {extras = ["pil"],version = "*"}
django-colorfield = "*"
django-graphql-jwt = "*"
django-admin-autocomplete-filter = "*"
django-nested-admin = "*"
fiobank = "*"
django-searchable-encrypted-fields = "*"
django-apptemplates = "*"
czech-sort = "*"
sorl-thumbnail = "*"
gunicorn = "*"

[requires]
python_version = "3"
